.hidden {
    display: none;
}
.inner.content {
    background-color: #fef9e2;
}
.inner li.select{
    background-color: green !important;
    color: white !important;
}
.progressBarLabels {
    position: relative;
    top: 0;
    margin: 0 auto;
    z-index: 2
}

.progressBarLabel {
    color: #fff;
    text-align: center;
    background-color: #5dbb89;
    font-size: .9rem;
    border-radius: 50%;
    border: 1px solid #61a780;
    font-weight: 400;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    margin: 0 .75rem;
    margin-top: -1px
}

.progressBarLabelInvalid {
    color: #c5c4c4;
    text-align: center;
    background-color: #e7e7e7;
    font-size: .9rem;
    border-radius: 50%;
    border: 1px solid #c7c7c7;
    font-weight: 400;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    margin: 0 .75rem;
    margin-top: -1px
}

.progressBarBgValidShape {
    position: absolute;
    top: .5rem;
    left: 50%;
    width: 12.5rem;
    height: .125rem;
    margin-left: -6.25rem;
    z-index: 1;
    background-color: #5dbb89
}

.progressBarBgInvalidShape {
    position: absolute;
    top: .5rem;
    left: 50%;
    width: 12.5rem;
    height: .125rem;
    margin-left: -6.25rem;
    z-index: 0;
    background-color: #e7e7e7
}

.progressBarBgValid {
    position: absolute;
    top: .5rem;
    left: 50%;
    width: 12rem;
    margin-left: -6rem;
    border: 1px solid #5dbb89;
    z-index: 1
}

.progressBarBgInValid {
    position: absolute;
    top: .5rem;
    left: 50%;
    width: 12rem;
    margin-left: -6rem;
    border: 1px solid #e7e7e7;
    z-index: 0
}

.content .tag {
    position:absolute;
    right:3px;
    top:3px;
    width:86px;
    height:27px
}
.content .pic {
    position:relative;
    text-align:center;
    width:85%;
    margin-left:7.5%;
    margin-top:.5rem;
    padding-bottom:.25rem;
    background-color:#fff;
    box-shadow:#999 2px 2px 1px 1px
}
.content .pic .pTitle {
    box-sizing:border-box;
    width:90%;
    margin:.5rem auto;
    color:#888;
    text-align:left;
    font-size:1rem;
    line-height:1.2;
    letter-spacing:1px
}
.content .pic .content_num {
    position:absolute;
    right:6%;
    top:.25rem;
    width:1.8rem;
    height:1.8rem;
    line-height:1.8rem;
    text-align:center;
    font-size:.9rem;
    background-color:#5dbb89;
    color:#fff;
    border-radius:50%;
    border:1px solid #5ca47d;
    letter-spacing:1px
}
.content .pic .userNick {
    color:#333
}
.content .qoPic {
    width:90%;
    margin:.5rem auto;
    min-height:10rem
}
.content ul {
    margin-top:1rem
}
.content li {
    position:relative;
    display:block;
    padding:.6rem .5rem;
    border:1px solid #99671c;
    width:85%;
    margin:.75rem auto;
    cursor:pointer;
    border-radius:.5rem;
    color:#99671c;
    font-weight:400;
    font-size:1.1rem;
    box-sizing:border-box
}
@-webkit-keyframes fade {
    0% {
        background-color: #333;
    }
    100% {
        background-color: #efefef;
    }
}