<!-- <%- partial('../sign/sidebar') %> -->
<!-- <link rel="stylesheet" href="http://p1.cdn.pengpengla.com/h5/h5knowMe/css/game/style.css?v=1429670455656"> -->
<div id='content'>
  <div class='panel'>
    <div class='header'>
      <!-- <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>注册</li>
      </ul> -->
      <div class="contentProgressBar">
          <div class="progressBarLabels"><span class="progressBarLabel">1</span><span class="progressBarLabelInvalid">2</span><span class="progressBarLabelInvalid">3</span><span class="progressBarLabelInvalid">4</span><span class="progressBarLabelInvalid">5</span><span class="progressBarLabelInvalid">6</span><span class="progressBarLabelInvalid">7</span></div>
          <div class="progressBarBgValidShape" style="width:0rem"></div>
          <div class="progressBarBgInvalidShape"></div>
      </div>
    </div>
    <div class='inner content'>
      <% if (typeof(error) !== 'undefined' && error) { %>
      <div class="alert alert-error">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <strong><%= error %></strong>
      </div>
      <% } %>
      <% if (typeof(success) !== 'undefined' && success) { %>
      <div class="alert alert-success">
        <strong><%= success %><br/> <%= description %><br/> <%= mailinfo %><br/></strong>
      </div>
      <% } else { %>
      <div id='ques1' class="con">
          <div class="pic"><img class="qoPic" src="http://p.cdn.pengpengla.com/game/pic/knowme/27.jpg" alt="">
            <p class="pTitle">你最喜欢的动物?</p>
          </div>

          <ul>
              <li>汪星人
                  <div class="con_correct">
                      <div class="con_incorrect"></div>
                  </div>
              </li>
              <li>喵星人
                  <div class="con_correct">
                      <div class="con_incorrect"></div>
                  </div>
              </li>
              <li>龙猫仓鼠
                  <div class="con_correct">
                      <div class="con_incorrect"></div>
                  </div>
              </li>
              <li>爬虫两栖类动物
                  <div class="con_correct">
                      <div class="con_incorrect"></div>
                  </div>
              </li>
              <li>就喜欢遛盆栽
                  <div class="con_correct">
                      <div class="con_incorrect"></div>
                  </div>
              </li>
          </ul>
      </div>
      <div id='ques2' class="con hidden">
          <div class="pic"><img class="qoPic" src="http://p.cdn.pengpengla.com/game/pic/knowme/421.jpg" alt="">
              <p class="pTitle">单次跑过的最远距离?</p>
          </div>
          <ul>
              <li>学校的800米考试
                  <div class="con_correct">
                      <div class="con_incorrect"></div>
                  </div>
              </li>
              <li>5km
                  <div class="con_correct">
                      <div class="con_incorrect"></div>
                  </div>
              </li>
              <li>10km
                  <div class="con_correct">
                      <div class="con_incorrect"></div>
                  </div>
              </li>
              <li>一个半程马拉松
                  <div class="con_correct">
                      <div class="con_incorrect"></div>
                  </div>
              </li>
              <li>一个全程马拉松
                  <div class="con_correct">
                      <div class="con_incorrect"></div>
                  </div>
              </li>
          </ul>
      </div>
      <div id='ques3' class="con hidden">
          <div class="pic"><img class="qoPic" src="http://p.cdn.pengpengla.com/game/pic/knowme/705.jpg" alt="">
              <p class="pTitle">你属于哪个星座？</p>
          </div>
          <ul>
              <li>火象星座（白羊、狮子、射手）
                  <div class="con_correct">
                      <div class="con_incorrect"></div>
                  </div>
              </li>
              <li>水象星座（双鱼、巨蟹、天蝎）
                  <div class="con_correct">
                      <div class="con_incorrect"></div>
                  </div>
              </li>
              <li>土象星座（金牛、处女、摩羯）
                  <div class="con_correct">
                      <div class="con_incorrect"></div>
                  </div>
              </li>
              <li>风象星座（水瓶、双子、天枰）
                  <div class="con_correct">
                      <div class="con_incorrect"></div>
                  </div>
              </li>
          </ul>
      </div>
      <div id='ques4' class="con hidden">
          <div class="pic"><img class="qoPic" src="http://p.cdn.pengpengla.com/game/pic/knowme/18.jpg" alt="">
              <p class="pTitle">你喜欢运动吗？</p>
          </div>
          <ul>
              <li>我是运动达人，每天都运动
                  <div class="con_correct">
                      <div class="con_incorrect"></div>
                  </div>
              </li>
              <li>每周都会运动一两次
                  <div class="con_correct">
                      <div class="con_incorrect"></div>
                  </div>
              </li>
              <li>偶尔吧，看心情，一个月两三次
                  <div class="con_correct">
                      <div class="con_incorrect"></div>
                  </div>
              </li>
              <li>不喜欢，不如在家打个滚
                  <div class="con_correct">
                      <div class="con_incorrect"></div>
                  </div>
              </li>
          </ul>
      </div>
      <div id='ques5' class="con hidden">
          <div class="pic"><img class="qoPic" src="http://p.cdn.pengpengla.com/game/pic/knowme/411.jpg" alt="">
              <p class="pTitle">你喜欢吃什么零食？</p>
          </div>
          <ul>
              <li>坚果类
                  <div class="con_correct">
                      <div class="con_incorrect"></div>
                  </div>
              </li>
              <li>油炸食品（薯片锅巴等）
                  <div class="con_correct">
                      <div class="con_incorrect"></div>
                  </div>
              </li>
              <li>甜食类（冰淇淋巧克力等）
                  <div class="con_correct">
                      <div class="con_incorrect"></div>
                  </div>
              </li>
              <li>糕点类（饼干电信等）

                  <div class="con_correct">
                      <div class="con_incorrect"></div>
                  </div>
              </li>
              <li>吃货一枚，以上都喜欢
                  <div class="con_correct">
                      <div class="con_incorrect"></div>
                  </div>
              </li>
              <li>从不吃零食
                  <div class="con_correct">
                      <div class="con_incorrect"></div>
                  </div>
              </li>
          </ul>
      </div>
      <div id='ques6' class="con hidden">
          <div class="pic"><img class="qoPic" src="http://p.cdn.pengpengla.com/game/pic/knowme/6.jpg" alt="">
              <p class="pTitle">你喜欢哪种旅游方式？</p>
          </div>
          <ul>
              <li>徒步搭车游
                  <div class="con_correct">
                      <div class="con_incorrect"></div>
                  </div>
              </li>
              <li>亲朋好友报旅游团游
                  <div class="con_correct">
                      <div class="con_incorrect"></div>
                  </div>
              </li>
              <li>约上小伙伴自行车游
                  <div class="con_correct">
                      <div class="con_incorrect"></div>
                  </div>
              </li>
          </ul>
      </div>
      <div id = "ques7" class="hidden">
        
        <form id='signup_form' class='form-horizontal' action='/signup' method='post'>

          <div class='form-group' style="">
            <label class='col-xs-3 control-label' for='university'>学校</label>
            <div class='col-xs-7'>
              <select id="univerity" class='form-control' name = "university">
               <option>同济大学</option>
               <option>清华大学</option>
              </select>
            </div>
          </div>

          <div class='form-group'>
            <label class='col-xs-3 control-label' for='name'>姓名</label>
            <div class='col-xs-7'>
              <% if (typeof(name) !== 'undefined') { %>
              <input class='form-control' id='name' name='name' size='30' type='text' value='<%= name %>'/>
              <% } else { %>
              <input class='form-control' id='name' name='name' size='30' type='text' value=''/>
              <% } %>
            </div>
          </div>
          <div class='form-group'>
            <label class='col-xs-3 control-label' for='phone'>手机号</label>

            <div class='col-xs-7'>
              <input class='form-control' id='phone' name='phone' size='30' type='text'/>
            </div>
          </div>
         
          <div class='form-group'>
            <label class='col-xs-3 control-label' for='email'>电子邮箱</label>

            <div class='col-xs-7'>
              <% if (typeof(email) !== 'undefined') { %>
              <input class='form-control' id='email' name='email' size='30' type='text' value='<%= email %>'/>
              <% } else { %>
              <input class='form-control' id='email' name='email' size='30' type='text'/>
              <% } %>
            </div>
          </div>
           <div class='form-group'>
            <label class='col-xs-3 control-label' for='major'>专业</label>

            <div class='col-xs-7' >
              <input class='form-control' id='major' name='major' size='30' type='text'  />
            </div>
          </div>


          <div class='form-group'>
          
             <label class='col-xs-3 control-label' for='edu' >学历</label>
            <div class='col-xs-7' >
              <div class='radio-inline'> 
                 <input type="radio"  name="edu" value="bachelor" checked="checked" />本科
              </div>
              <div class='radio-inline'> 

               <input type="radio" name="edu" value="master" />硕士
              </div>

              <div class='radio-inline'> 

               <input type="radio" name="edu" value="doctor" />博士
              </div>

            </div>
          </div>

          <div class='form-group'>
          
             <label class='col-xs-3 control-label' for='gradate'>毕业时间</label>
            <div class='col-xs-7'>

               <select id="gradate"  class='form-control' name = "gradate"  >
               <option>2018</option>
               <option>2017</option>
               <option>2016</option>
               <option>2015</option>
               <option>2014</option>
               <option>2013</option>
              </select>
            </div>     
          </div>
          <div class='form-group'>
            <input type='hidden' name='_csrf' value='<%= csrf %>'/>

            <div class='col-xs-offset-3 col-xs-7'>
              <input type='submit' class='span-primary form-control' value='注册'/>
            </div>
          </div>
        </form>
      </div>
      <% } %>
    </div>    
  </div>
</div>
<script type="text/javascript">
  $(function() {
    $('.con li').on('click', function () {
      var $thisparent = $(this).parents('.con');
      var index = $thisparent.attr('id').substr(4);
      $(this).addClass('select');
      setTimeout(function(){
        $thisparent.fadeOut(200, function(){
          $(this).addClass('hidden');
        });
        $thisparent.next().fadeIn(210, function(){
          $(this).removeClass('hidden')
        });
        $('.progressBarLabelInvalid:first').removeClass('progressBarLabelInvalid').addClass('progressBarLabel');
        $('.progressBarBgValidShape').width(index * 3 + 'rem');
      },300);
    });
  });
</script>
