<!-- <%- partial('../sign/sidebar') %> -->
<!-- <link rel="stylesheet" href="http://p1.cdn.pengpengla.com/h5/h5knowMe/css/game/style.css?v=1429670455656"> -->
<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li class='active'>注册</li>
      </ul>
    </div>
    <div class='inner content'>
      <% if (typeof(error) !== 'undefined' && error) { %>
      <div class="alert alert-error">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <strong><%= error %></strong>
      </div>
      <% } %>
      <% if (typeof(success) !== 'undefined' && success) { %>
      <div class="alert alert-success">
        <strong><%= success %><br/> <%= description %><br/> <%= mailinfo %><br/></strong>
      </div>
      <% } else { %>
      <div id = "ques7">
        
        <form id='signup_form' class='form-horizontal' action='/signup' method='post'>

          <div class='form-group' style="">
            <label class='col-xs-3 control-label' for='university'>学校</label>
            <div class='col-xs-7'>
              <select id="univerity" class='form-control' name = "university">
               <option>同济大学</option>
               <option>清华大学</option>
              </select>
            </div>
          </div>

          <div class='form-group'>
            <label class='col-xs-3 control-label' for='name'>姓名</label>
            <div class='col-xs-7'>
              <% if (typeof(name) !== 'undefined') { %>
              <input class='form-control' id='name' name='name' size='30' type='text' value='<%= name %>'/>
              <% } else { %>
              <input class='form-control' id='name' name='name' size='30' type='text' value=''/>
              <% } %>
            </div>
          </div>
          <div class='form-group'>
            <label class='col-xs-3 control-label' for='phone'>手机号</label>

            <div class='col-xs-7'>
              <input class='form-control' id='phone' name='phone' size='30' type='text'/>
            </div>
          </div>
         
          <div class='form-group'>
            <label class='col-xs-3 control-label' for='email'>电子邮箱</label>

            <div class='col-xs-7'>
              <% if (typeof(email) !== 'undefined') { %>
              <input class='form-control' id='email' name='email' size='30' type='text' value='<%= email %>'/>
              <% } else { %>
              <input class='form-control' id='email' name='email' size='30' type='text'/>
              <% } %>
            </div>
          </div>
           <div class='form-group'>
            <label class='col-xs-3 control-label' for='major'>专业</label>

            <div class='col-xs-7' >
              <input class='form-control' id='major' name='major' size='30' type='text'  />
            </div>
          </div>


          <div class='form-group'>
          
             <label class='col-xs-3 control-label' for='edu' >学历</label>
            <div class='col-xs-7' >
              <div class='radio-inline'> 
                 <input type="radio"  name="major" value="bachelor" checked="checked" />本科
              </div>
              <div class='radio-inline'> 

               <input type="radio" name="major" value="master" />硕士
              </div>

              <div class='radio-inline'> 

               <input type="radio" name="major" value="doctor" />博士
              </div>

            </div>
          </div>

          <div class='form-group'>
          
             <label class='col-xs-3 control-label' for='gradate'>毕业时间</label>
            <div class='col-xs-7'>

               <select id="gradate"  class='form-control' name = "gradate"  >
               <option>2018</option>
               <option>2017</option>
               <option>2016</option>
               <option>2015</option>
               <option>2014</option>
               <option>2013</option>
              </select>
            </div>     
          </div>
          <div class='form-group'>
            <input type='hidden' name='_csrf' value='<%= csrf %>'/>
            <div class='col-xs-offset-3 col-xs-7'>
              <input type='submit' class='span-primary form-control' value='注册'/>
            </div>
          </div>
        </form>
      </div>
      <% } %>
    </div>    
  </div>
</div>