<div id="content">
  <div class="panel">
    <div class="header">
      <% [['all', '全部']].concat(tabs).forEach(function (pair) {
        var value = pair[0];
        var text = pair[1]; %>
        <a href="<%= value ? '/?tab=' + value : '/' %>"
          class="topic-tab <%= value === tab ? 'current-tab' : '' %>"><%= text %></a>
      <% }) %>
      <span id="focusus" onclick='addFirend()'>关注我们</span>
      <a href="http://weixin.qq.com/r/00jP1xDEIk1drVS09x3B" >关注我们</a>
      <a href="weixin://qr/00jP1xDEIk1drVS09x3B" >关注我们</a>
      <a href="weixin://contacts/profile/gh_086fcdbebe8f" >关注我们</a>
      <a href="weixin://profile/gh_086fcdbebe8f" >关注我们</a>
      <a href="http://www.weixin/profile/gh_086fcdbebe8f" >关注我们</a>
    </div>
    <div class="swiper-container">
      <div class="inner no-padding swiper-wrapper">
        <div class="swiper-slide">
        </div>
        <% if (typeof(topics) !== 'undefined' && topics.length > 0) { %>
          <div  class="swiper-slide">
            <%- partial('topic/list', {
              topics: topics,
              pages: pages,
              current_page: current_page,
              base: '/'
            }) %>
          </div>
        <% } else { %>
          <div class="swiper-slide">
            <div id="topic_list">
              <div class='cell'>
                <span>本模块暂无话题，欢迎发布话题，抢占前排！</span>
              </div>
            </div>
          </div>
        <% } %>
        <div class="swiper-slide">
        </div>
      </div>
    </div>
  </div>
</div>
<script> 
  var mySwiper = new Swiper('.swiper-container',{
    loop: false,
    initialSlide: 1,
    onSlideChangeStart: function(swiper) {
      if (swiper.previousIndex===1) {
        var current = $('.current-tab');
        if(swiper.swipeDirection === 'prev') {
          if(current.prev().length){
            window.location.href = $('.current-tab').prev().attr('href');
          } 
          else {
            window.location.href = $('.topic-tab:last').attr('href');
          }
        }
        else {
          if(current.next().length){
            window.location.href = $('.current-tab').next().attr('href');
          } 
          else {
            window.location.href = $('.topic-tab:first').attr('href');
          }
        }
      }
    }
  });
  function addFirend(){
    alert(1);
    window.domain = 'qq.com';
    WeixinJSBridge.invoke("addContact", {webtype: "1",username: 'sophomall'}, function(e) {
        alert(2);

        WeixinJSBridge.log(e.err_msg);
        alert(e.err_msg);
        alert(e.err_desc);
        //e.err_msg:add_contact:added 已经添加
        //e.err_msg:add_contact:cancel 取消添加
        //e.err_msg:add_contact:ok 添加成功
        if(e.err_msg == 'add_contact:added' || e.err_msg == 'add_contact:ok'){
            //关注成功，或者已经关注过
        }
    });
  }
</script>
<div id="foot-content">
  <div class='inner'>
    <a href='/topic/create/?tab=<%=tab%> ' id='create_topic_btn'>
      <span class='span-success'>发布话题</span>
    </a>
  </div>
</div>
